<div class="flex flex-col items-center justify-center w-full">
  <div class="flex justify-between">
    <div class="w-1/2 p-6 ml-12 mr-4 bg-white rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold text-center text-blue-400">Судоку</h1>
      <h2 class="mt-4 text-xl font-semibold text-blue-400">Правила:</h2>
      <ul class="mt-2 text-gray-700 list-disc list-inside">
        <li><strong>Сетка 9x9:</strong> Игра состоит из 9 строк и 9 столбцов, разбитых на девять 3x3 подрешеток.</li>
        <li><strong>Заполнение клеток:</strong> Каждую клетку нужно заполнить числом от 1 до 9.</li>
        <li><strong>Уникальность:</strong> Каждое число должно появляться только один раз в каждой строке, столбце и подрешетке.</li>
        <li><strong>Помощь:</strong> Если число вы поставили верное, то клетка будет зеленого цвета, если нет - красного.</li>
        <li><strong>Стратегия:</strong> Используйте логику и дедукцию для нахождения правильных чисел.</li>
        <li><strong>Цель:</strong> Заполнить все клетки числами, что бы они не повторялись.</li>
      </ul>

      <h2 class="mt-4 text-xl font-semibold text-blue-400">Советы:</h2>
      <p class="mt-2 text-gray-700">Начинайте с простых клеток, где можно сразу поставить число, и используйте процесс исключения.</p>

      <div class="mt-4">
        <h2 class="text-xl font-semibold text-blue-400">Видео:</h2>
        <video class="mt-2 w-full h-[250px]" preload="auto" autoplay="true" muted loop>
          <source src="assets/videos/sudoku.mp4" type="video/mp4">
          Ваш браузер не поддерживает элемент <code>video</code>.
        </video>
      </div>
    </div>

    <div class="w-1/2 p-6 ml-4 bg-white rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold text-center text-blue-400">Японские Кроссворды</h1>

      <h2 class="mt-4 text-xl font-semibold text-blue-400">Правила</h2>
      <ul class="mt-2 text-gray-700 list-disc list-inside">
        <li><strong>Сетка:</strong> Игровое поле представляет собой сетку, где клетки могут быть закрашены или оставлены пустыми.</li>
        <li><strong>Подсказки:</strong> Числовые подсказки указывают, сколько последовательных закрашенных клеток находится в каждой строке и столбце.</li>
        <li><strong>Закрашивание:</strong>Нажимайте левую кнопку мыши и используйте подсказки для заполнения клеток.</li>
        <li><strong>Крестики:</strong>Нажимайте левую кнопку мыши два раза, что бы поставить крест если уверен, что там уже не будет закрашеннной клетки.</li>
        <li><strong>Цель:</strong> Достигнуть полной картины и отгадать картинку, следуя правилам и подсказкам.</li>
      </ul>

      <h2 class="mt-4 text-xl font-semibold text-blue-400">Советы</h2>
      <p class="mt-2 text-gray-700">Начинайте со строк и столбцов, где подсказки наиболее четкие, и проверяйте соответствие подсказок.</p>

      <div class="mt-4">
        <h2 class="text-xl font-semibold text-blue-400">Видео:</h2>
        <video class="mt-2 w-full h-[250px]" preload="auto" autoplay="true" muted loop>
          <source src="assets/videos/puzzle.mp4" type="video/mp4">
          Ваш браузер не поддерживает элемент <code>video</code>.
        </video>
      </div>
    </div>
  </div>
</div>
