<div class="container flex flex-col">
  <button
    (click)="goToStart()"
    [ngClass]="{
      '!bg-soft-pink !text-white': url() === '/',
    }"
    [disabled]="url() === '/'"
    appTooltip="Перейти на стартовый экран"
    [appTooltipPosition]="TooltipPosition.Right"
    class="mb-2 flex items-center space-x-2 rounded-full bg-white px-4 py-2 font-bold text-blue-400 shadow-lg transition-all duration-300 hover:bg-soft-pink hover:text-white"
  >
    <svg
      class="h-6 w-6 fill-blue-400"
      [ngClass]="{ '!fill-white': url() === '/' }"
    >
      <use xlink:href="assets/icons/icons.svg#home"></use>
    </svg>
  </button>

  <button
    (click)="goToRules()"
    [ngClass]="{
      '!bg-soft-pink text-white': url() === '/rules',
    }"
    [disabled]="url() === '/rules'"
    appTooltip="Перейти к правилам"
    [appTooltipPosition]="TooltipPosition.Right"
    class="flex items-center space-x-2 rounded-full bg-white px-4 py-2 font-bold text-blue-400 shadow-lg transition-all duration-300 hover:bg-soft-pink hover:text-white"
  >
    <svg
      class="h-6 w-6 fill-blue-400"
      [ngClass]="{ '!fill-white': url() === '/rules' }"
    >
      <use xlink:href="assets/icons/icons.svg#rule"></use>
    </svg>
  </button>
</div>
