<div class="container flex flex-col items-center justify-center mx-auto">
  <div class="flex items-center justify-center gap-4 p-4">
   <app-card (onClickCard)="goToSudoku()">
      <h2 class="mb-4 text-2xl font-bold text-center text-custom-teal">Судоку</h2>
      <img src="assets/images/sudoku.webp" alt="Sudoku" class="mx-auto rounded-lg shadow-md w-60 h-72 game-image" />
   </app-card>

    <app-card (onClickCard)="goToPuzzles()">
      <h2 class="mb-4 text-2xl font-bold text-center text-custom-teal">Японские кроссворды</h2>
      <img src="assets/images/puzzles.webp" alt="Puzzles" class="mx-auto rounded-lg shadow-md w-60 h-72 game-image" />
    </app-card>
  </div>
</div>
