@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("assets/images/background.webp") center no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100vh;

  ::-webkit-scrollbar {
    background-color: #fff;
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1rem;
    border: 0.2rem solid #fff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #747478;
    border-radius: 1rem;
    border: 0.2rem solid #fff;
  }

  ::-webkit-scrollbar-button {
    display:none;
  }
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip-active {
  opacity: 1;
}

button svg {
  fill: white;
}

button:hover {
  svg {
    fill: white
  }
}
