@if(puzzle) {
  <div class="container mx-auto flex flex-col justify-center items-center">
    <div class="overflow-auto rounded-lg shadow-lg p-6 bg-white">
      @if(isSolved()) {
        <app-winning></app-winning>
      }
      <div class="h-10 flex justify-center mb-4">
        <h2 class="text-4xl font-bold transition-opacity duration-1000 {{ puzzle.classColorText }}"
            [ngClass]="{
        'opacity-0': !completionMessage(),
        'opacity-100': completionMessage()
      }">
          {{ completionMessage() }}
        </h2>
      </div>

      <table class="border-collapse text-sm" [ngClass]="puzzle.textSizeClass ? puzzle.textSizeClass : 'text-base'">
        <!-- Подсказки по столбцам -->
        @for (rowIndex of generateArray(maxColHints); track rowIndex) {
          <tr>
            <td [colSpan]="maxRowHints"></td>
            @for (colIndex of generateArray(puzzle.size); track colIndex; let colIdx = $index) {
              <td  class="border border-gray-400 bg-gray-200 text-center relative {{puzzle.sizeClasses}}"
                  [ngClass]="{'!bg-custom-blue': isHighlightedCol(colIndex)}"
              >

                @if (puzzle.colHints[colIdx][rowIndex] !== undefined && puzzle.colHints[colIdx][rowIndex]) {
                  @if(isColumnSolved(colIdx) && !isSolved()) {
                    <ng-container *ngTemplateOutlet="crossTemplate"></ng-container>
                  }
                  <span class="relative z-10">{{ puzzle.colHints[colIdx][rowIndex] }}</span>
                }

              </td>
            }
          </tr>
        }

        <!-- Основная сетка игры -->
        @for (rowIndex of generateArray(puzzle.size); track rowIndex) {
          <tr>
            <!-- Подсказки по строкам -->
            @for (hintIdx of generateArray(maxRowHints); track hintIdx; let rowHintIdx = $index) {
              <td class="border border-gray-400 bg-gray-200 text-center relative {{puzzle.sizeClasses}}"
                  [ngClass]="{'!bg-custom-blue': isHighlightedRow(rowIndex)}"
              >
                @if (puzzle.rowHints[rowIndex][rowHintIdx] !== undefined && puzzle.rowHints[rowIndex][rowHintIdx]) {
                  @if(isRowSolved(rowIndex) && !isSolved()) {
                    <ng-container *ngTemplateOutlet="crossTemplate"></ng-container>
                  }
                  <span class="relative z-10">{{ puzzle.rowHints[rowIndex][rowHintIdx] }}</span>
                }

              </td>
            }

            <!-- Клетки сетки -->
            @for (colIndex of generateArray(puzzle.size); track colIndex) {
              <td
                appMouseTracker
                (mouseDownEvent)="onMouseDown(rowIndex, colIndex ,$event)"
                (mouseUpEvent)="onMouseUp()"
                (mousemove)="onMouseMove(rowIndex, colIndex)"
                class="border border-gray-400 cursor-pointer select-none text-center relative"
                (contextmenu)="$event.preventDefault()"
                [ngClass]="{
                  'border-r-4': (colIndex + 1) % 5 === 0 && colIndex < puzzle.size - 1,
                  'border-b-4': (rowIndex + 1) % 5 === 0 && rowIndex < puzzle.size - 1,
                  'bg-custom-blue': isHighlightedRow(rowIndex) || isHighlightedCol(colIndex),
                }"
                [class]="puzzle.sizeClasses"
              >
                @if (grid()[rowIndex][colIndex].filled) {
                  <div
                    [ngClass]="{
                      'bg-soft-pink': !isSolved(),
                      'border-2 border-black-700': isSolved()
                    }"
                    [class]="isSolved() ? puzzle.classBackground : ''"
                    class="w-full h-full transition-all duration-500"
                    [ngStyle]="{
                      'transition-delay': isSolved() ? getDelay(rowIndex, colIndex) + 'ms' : '0ms'
                    }"
                  ></div>
                }

                @if (grid()[rowIndex][colIndex].marked && !grid()[rowIndex][colIndex].filled && !isSolved()) {
                  <div class="text-gray-400 font-bold" [ngClass]="puzzle.textSizeClass ? puzzle.textSizeClass : 'text-base'">&#10005;</div>
                }
              </td>
            }
          </tr>
        }
      </table>
    </div>

    <app-action-panel
      (reset)="restartGame()"
      (chooseAnotherCrossword)="goToSelectPuzzle()"
    ></app-action-panel>
  </div>
}
<ng-template #crossTemplate>
  <div class="absolute top-0 left-0 w-full h-full outline-red-500 outline outline-1">
    <svg viewBox="0 0 100 100" class="cross">
      <line x1="0" y1="0" x2="100" y2="100" stroke="red" stroke-width="3" />
      <line x1="100" y1="0" x2="0" y2="100" stroke="red" stroke-width="3" />
    </svg>
  </div>
</ng-template>
